{% extends "layout.html" %}

<!-- This file serves as the Chungus display -->

<!-- As given, this file creates two divs. One takes spotify data passed from UI.py
        to print out relevant song details. We need to figure out how to dynamically update displays.
        Also need to place the divs properly. Desired test configuration is side-by-side.  -->

{% block content %}
    <div class="row">
        <h1>Chungus</h1>
        <a href="{{ url_for('home') }}">Home</a>
        <p>give me displays!!</p>

        <div class="col-sm-6">
            <div id="display-1" class="display-1">
                {% include "chungus_display_1.html" %}
            </div>
        </div>

        <div class="col-sm-6">
            <div id="display-2" class="display-2">
                {% include "chungus_display_2.html" %}
            </div>
        </div>
        
    </div>
    
{% endblock content%}

